# default.toml - fallback

[global]
keyboard = "fr"
country = "fr"
timezone = "Europe/Paris"
fqdn = "pve-default.local.clinux.fr"
mailto = "{{ proxmox_email }}"
root-password = "{{ proxmox_password }}"
root-ssh-keys = {{ proxmox_ssh_keys | tojson }}

reboot-mode = "power-off"

[network]
source = "from-dhcp"

[disk-setup]
filesystem = "ext4"
disk-list = ["sda"]

[post-installation-webhook]
url = "https://pve-automator.local.clinux.fr/webhook"
