# Machine proxmox5

[global]
fqdn = "proxmox5.local.clinux.fr"
root-password = "UltraSecret!"

[network]
source = "from-dhcp"

[disk-setup]
filesystem = "ext4"
disk-list = ["sda"]

[post-install]
script = """
curl -X POST https://gotify.domain.local/message \
  -H "X-Gotify-Key: TOKEN" \
  -F "title=PVE PROD installé"
  -F "message=pve-prod-01 OK"
"""
